
 header ,main, footer{
    font-family: 'Poppins', sans-serif;

}

.item::before{
    content: '';
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.5;
}

.color{
    background-color: rgb(244, 239, 233);
}


@media only screen and (min-width: 992px) {
    .custom-width{
        width:85%
    }
}